body{
  margin: 0;
  padding: 0;
}
header{
  height: 100vh;
  width: 100%;
  background-image: url("../img/web-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    color: aliceblue;
    font-size: large;
    padding: 0 10%;
    text-align: center;
  }
  div{
    position: absolute;
    left: 5%;
    top: 10%;
    background-color: rgba(0,0,0, .5);
    border-radius: 35%;
    background-image: url("../img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    width: 250px;
  }
}

nav{
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  color: aliceblue;
  background-color: rgba(7, 7, 7, 0.85);
  .logo-nav{
    margin-left: 5%;
    background-color: black;
    background-image: url("../img/logo.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    text-decoration: none;
    &:after{
      content: "SpiderWEB";
      color: aliceblue;
      margin-left: 100px;
      font-size: 20px;
      line-height: 80px;
    }
  }
  .nav{
    position: fixed;
    top: 100px;
    right: 0;
    width: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0, .9);
    a {
      justify-content: center;
      background-color: rgba(100, 100, 100, .5);
      padding: 10px 0;
      margin: 50px auto;
      text-decoration: none;
      color: aliceblue;
      display: block;
      width: 100%;
      text-align: center;
      font-size: x-large;
      &:hover{
        background-color: rgba(150, 150, 150, .5);
        font-size: large;
      }
      h3{
        text-align: center;
        width: 100%;
      }
    }
  }
  .nav-btn{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    .line1, .line2, .line3{
      width: 30px;
      height: 3px;
      margin: 2px 0;
      background-color: aliceblue;
    }
  }
}

main{
  section{
    h2{
      text-align: center;
      font-size: xx-large;
    }
  }
  .ind-info{
    width: 50%;
    margin: 0 auto;
    padding: 10px;

  }
  .ind-service{

    width: 90%;
    margin: 50px auto;
    max-width: 1440px;



    .grid-service{
      width: 100%;
      display: grid;
      grid-template-columns: 45% 45%;
      grid-template-rows: auto auto;
      row-gap: 20px;
      column-gap: 10%;
      grid-template-areas:
              "1 2"
              "3 4";

    .service{
      position: relative;
      display: flex;
      width: 100%;
      height: 200px;
      background-color: lightgrey;
      text-align: center;
      align-items: center;
      justify-content: center;
      h3{
        font-size: medium;
      }

    }
      &:nth-of-type(1){
        grid-area: 1;
      }
      &:nth-of-type(2){
        grid-area: 2;
      }
      &:nth-of-type(3){
        grid-area: 3;
      }
      &:nth-of-type(4){
        grid-area: 4;
      }
      .cover{
        opacity: 0;
        animation: forwards 1s ease-in;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        span{
          display: none;
          animation: service 200ms ease-in-out;

        }
      }
      .service:hover .cover{
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: gray;
        z-index: 2;
        align-items: center;
        justify-content: center;
        span{
          z-index: 3;
          display: block;
          font-size: larger;
        }
      }

    }
    h2{
      width: 100%;
    }
  }
  .ind-teamet{
    margin: 50px auto;
    display: flex;
    width: 100%;
    max-width: 1440px;
    flex-wrap: wrap;
    justify-content: space-around;
    h2{
      width: 100%;
    }
    div{
      width: 40%;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      img{
        height: 400px;
        width: 100%;
        background-color: gray;
      }
      div{
        position: absolute;
        bottom: 50px;
        background-color: rgba(10, 10, 10, .9);
        width: 100%;
        color: aliceblue;
      }
    }
  }
}

.mapouter{
  position:relative;
  text-align:right;
  height:400px;
  width:100%;
  margin: 50px 0 0 0;
  border: none;
  clip-path: ellipse(75% 80% at 50% 100%);
  &:hover{
    animation: clip-map 1s ease forwards;
  }
  &:not(:hover){
      animation: clip-map2 1s ease forwards;
}
}

@keyframes clip-map {
  from{
    clip-path: ellipse(75% 80% at 50% 100%);
  }
  to{
    clip-path: ellipse(150% 150% at 50% 50%);
  }
}
@keyframes clip-map2 {
  from{
    clip-path: ellipse(150% 150% at 50% 50%);
  }
  to{
    clip-path: ellipse(75% 80% at 50% 100%);
  }
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:400px;
  width:100%;
  border: none;
}
iframe{
  width: 100%;
  height: 100%;
}



.kontakt-page{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.kontakt-info{
  grid-area: infoK;
  margin: auto;
  line-height: 20px;
  align-self: center;
  font-size: large;
}

.kontakt-intro{
  grid-area: infoIntro;
  text-align: center;
  line-height: 20px;
  align-self: center;
  font-size: large;
}

.Kontakt-Form{
  grid-area: formK;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  input{
    width: 50%;
    height: 30px;
    padding-left: 10px;
    border: none;
    border-bottom: solid 1.5px gray;
    &:hover{
      border-bottom: solid 1.5px black;
    }
  }


  textarea{
    width: 50%;
  }
  button{

  }
}

footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
text-align: center;
  padding: 20px 0;
  div:nth-of-type(odd){
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    a{
      padding: 0 20px;
    }
    &:nth-of-type(3){
      justify-content: center;
    }
  }

}

.fejlside{
  height: 60vh;
  width: 100%;
  h1, h2{
    margin: 200px auto 0 auto;
  }
}

@media screen and(min-width: 768px) {
  header{
    h1{
      font-size: xx-large;

    }
  }

  nav{
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    .logo-nav{
      margin-left: 5%;
      background-color: black;
      background-image: url("../img/logo.svg");
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 80px;
      width: 80px;
      text-decoration: none;
      &:after{
        content: "SpiderWEB";
        color: aliceblue;
        margin-left: 100px;
        font-size: 40px;
        line-height: 80px;
      }
    }
    .nav-btn{
      display: none;
    }
    .nav{
      position: unset;
      display: flex;
      flex-wrap: nowrap;
      width: 40%;
      justify-content: space-between;
      align-items: center;
      a {
        justify-content: center;
        background-color: rgba(100, 100, 100, .5);
        padding: 10px 30px;
        margin: auto;
        text-decoration: none;
        color: aliceblue;
        font-size: medium;
        &:hover{
          background-color: rgba(150, 150, 150, .5);
          font-size: large;
        }
        h3{
          text-align: center;
          width: 100%;
        }
      }
    }
  }

  main{
    .ind-service{
      width: 60%;
      .grid-service {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        row-gap: 20px;
        column-gap: 20px;
        .service{
          height: 300px;
          h3{
            font-size: x-large;
          }
        }
      }

    }
    .ind-teamet{
      justify-content: space-around;
      div{
        width: 20%;
        padding: 5px;
        img{
          height: 600px;
        }
      }
    }
  }
/* Footer */
  footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    div:nth-of-type(odd){
      width: 100%;
      margin: 20px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-content: center;
      a{
        padding: 0 20px;
      }
      &:nth-of-type(3){
        justify-content: center;
      }
    }

  }

  /* Kontakt side */
  .kontakt-page{
    display: grid;
    width: 100%;
    grid-template-rows: 200px 200px;
    justify-content: space-around;
    grid-template-columns: 40% 40%;
    grid-template-areas:
            "infoIntro formK"
            "infoK formK";
  }
}


@keyframes service {
  from{
    transform: translateY(200px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}